@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap');

body {
  margin: 0;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  background-color:#3c3a39;
  width: auto;
  padding-left: 24px;
  padding-right: 19px;
}

.tool-bar a {
  font-family: 'Roboto' , sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
  padding: 12px 24px;
}

.menu {
  margin-top: 20px;
  width: 18px;
  height: 12px;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  height: 590px;
  padding: 120px 24px ;
  top: 92px;
}

h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  padding: 0 24px;
  padding-top: 120px;
  letter-spacing: 0.37px;
  margin: 12px 0;
}

h4 {
  font-family: 'Roboto' , sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  height: 27px;
  margin: 12px 0px;
}

p {
  font-family: 'Popins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0px;
  color: #ffffff;
}

.background {
  position: absolute;
  top: 450px;
  right: 0;
}

.link {
  display: flex;
  padding: 0;
  height: 40px;
}

ul {
  display: flex;
  padding-left: 0;
  list-style-type:none;
}

li {
  padding: 10px;
  justify-self: flex-start;
  }

.fab {
  color: #dbd8d7;
  }