@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: auto;
  padding: 0;
  top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #3c3a39;
  width: auto;
  padding-left: 24px;
  padding-right: 19px;
}

header a {
  text-decoration: none;
}

.tool-bar a {
  /* font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none; */
  color: #fff;
  padding: 12px 24px;
}

header .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-left: -25px;
  margin-top: 0;
  background-color: #3c3a39;
}

header .mobile-menu .close-menu {
  display: flex;
  justify-content: end;
  padding: 20px;
}

header .mobile-menu ul li {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff5e1;
}

header .mobile-menu ul {
  list-style-type: none;
}

header .mobile-menu .close-menu a {
  color: #fff5e1;
  font-size: 20px;
}

.display-mobile {
  display: none;
}

header .tool-bar .right {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  height: 590px;
  padding: 120px 24px;
  top: 92px;
}

h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  padding: 0 24px;
  padding-top: 120px;
  letter-spacing: 0.37px;
  margin: 12px 0;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  height: 27px;
  margin: 12px;
}

p {
  font-family: 'Popins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 12px;
  color: #fff;
}

.background {
  position: absolute;
  top: 450px;
  right: 0;
}

.link {
  display: flex;
}

.icons {
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.icons-list {
  padding: 10px;
  justify-self: flex-start;
}

.fab {
  color: #dbd8d7;
}

.links .top li {
  transition-property: margin-top, margin-bottom;
  transition-duration: 0.5s;
}

.links .top i {
  transition-property: color;
  transition-duration: 0.5s;
}

.contact-form .links i {
  color: #505f79;
}

.links .top i:hover {
  color: #15aabf;
}

.links .top li:hover {
  margin-top: -2px;
  margin-bottom: 3px;
}

/* ----Project Page------- */

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  padding-top: 120px;
}

.project-heading {
  text-align: center;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  padding-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

hr {
  border: 1px solid  #212121;
  width: 60%;
  margin-top: -130px;
  margin-left: 510px;
}

.img {
  width: 327px;
  height: 237px;
  margin-top: 80px;
}

.info-title {
  display: flex;
  justify-self: flex-start;
  padding-left: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #091e42;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
}

.info-detail {
  padding-left: 24px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #091e42;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin: 12px;
}

.lang {
  display: flex;
  padding-left: 24px;
}

.lang-box {
  list-style-type: none;
  box-sizing: border-box;
  border: 1px solid #8993a4;
  padding: 10px;
  margin: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #091e42;
}

.btn {
  display: flex;
  background: #ff6b00;
  color: #fff;
  width: 120px;
  height: 48px;
  align-items: center;
  text-align: center;
  padding: 12px;
  margin: 30px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  transition-duration: 00.4s;
}

.btn:hover {
  background-color: rgb(219, 180, 120);
  color: #091e42;
}

/* ----------------Project Display-------- */

.display {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  margin: 24px;
  width: 327px;
  background-image: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(media/Layout.png);
  background-repeat: no-repeat;
}

.display-title {
  font-family: 'Crete Round', sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  line-height: 44px;
  text-align: left;
  margin: 12px;
}

.display-content {
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 24px;
}

.lang-dis {
  padding-left: 16px;
}

.lang-box-dis {
  display: flex;
  float: left;
  list-style-type: none;
  padding: 10px 12px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.24);
  margin: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
}

.btn-dis {
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  height: 48px;
  border: none;
  border-radius: 0;
  padding: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn-dis:hover {
  background: rgb(219, 180, 120);
  color: #091e42;
}

/* -----About Me----- */

.about-me {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url(media/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  margin: 0;
  background-position: 100% 20%;
}

.about-me-heading {
  display: flex;
  align-items: center;
  width: 327px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 50px;
  line-height: 88px;
  color: #ff6b00;
  margin: 24px;
  margin-top: 120px;
  padding: 16px;
}

.about-me-content {
  text-align: left;
  font-family: 'Inter', sans-serif;
  color: #f4f5f7;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 24px;
  margin-top: 0;
}

.btn-about-me {
  display: flex;
  background: #ff6b00;
  color: #fff;
  width: 161px;
  height: 48px;
  align-items: center;
  text-align: center;
  padding: 12px;
  margin: 30px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  transition-duration: 00.4s;
}

.btn-about-me:hover {
  background-color: rgb(219, 180, 120);
  color: #091e42;
}

.prg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0;
  margin-top: 200px;
  border-top: 1px solid #fff;
}

.prg_li {
  margin: 0;
  padding: 0;
}

.prg-h1,
.prg-h2,
.prg-h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style-type: none;
}

.prg-h1 {
  padding-top: 100px;
  margin: 12px;
  list-style-image: url(media/rhombus.png);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.prg-h2 {
  margin: 30px 0 12px 0;
  list-style-image: url(media/square.png);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.prg-h3 {
  margin: 44px 0 12px 0;
  list-style-image: url(media/circle.png);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.prg-items {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 42px;
  list-style-type: none;
  margin-top: 32px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-top: 120px;
  margin-bottom: 60px;
  width: 327px;
  height: 216px;
  position: static;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 70px;
}

.contact-form form ul {
  list-style-type: none;
  padding-left: 12px;
  width: 80%;
}

.contact-form form ul input,
.contact-form form ul textarea {
  width: calc(100% - 20px);
  margin-top: 20px;
  padding: 10px;
}

.contact-form form ul input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

.contact-form form ul textarea {
  background-color: #fbf8f7;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.contact-form form button {
  padding: 12px;
  position: static;
  width: 131px;
  height: 48px;
  left: 98px;
  top: calc(50% - 48px / 2 + 141px);
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  border: 0;
  color: #fff;
}

.contact-form form button:hover {
  background-color: rgb(219, 180, 120);
  color: #091e42;
}

.contact-form .end-line {
  margin-bottom: 20px;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .tool-bar .right {
    display: none;
  }

  .project-container {
    display: grid;
    padding-top: 50px;
    margin-left: 15px;
  }

  .project-heading {
    text-align: left;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    color: #1c1a19;
    padding-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .img {
    width: 80%;
    align-items: center;
  }
}

/* ----End of Mobile Version----------------- */

/* -----ipad Version-------------------------- */
@media only screen and (min-width: 600px) {
  .right {
    display: none;
  }

  .project-display {
    display: flex;
    flex-wrap: wrap;
    animation-name: go-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes go-down {
    from {
      margin-top: -30px;
    }

    to {
      margin-top: 0;
    }
  }
}

/* -----Desktop Version------------- */

@media only screen and (min-width: 992px) {
  /* ---Header----- */

  .display-mobile {
    display: none;
  }

  header .hamburger {
    display: none;
  }

  .tool-bar a {
    left: 12px;
    top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
  }

  .tool-bar .right {
    left: 12px;
    top: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .tool-bar .right a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  /* ----Introduction--------------- */

  .container {
    display: grid;
    grid-template-columns: 70px 2fr;
    background-image: url(media/responsive-background.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  .background {
    display: none;
  }

  .container .links,
  .top {
    display: flex;
    flex-direction: column;
    order: -1;
    justify-content: center;
  }

  .container.paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* ----Project Container------------ */
  .project-container {
    display: grid;
    padding: 20px;
  }

  .project-container hr {
    border: 1px solid  #212121;
    width: 60%;
    margin-top: -130px;
    margin-left: 510px;
  }

  .project-heading {
    text-align: justify;
    padding-left: 150px;
  }

  .img {
    float: left;
    width: 684px;
    height: 448px;
    padding: 50px;
    margin-top: 2px;
    margin-left: 60px;
  }

  .info-title,
  .info-detail,
  .lang {
    justify-items: right;
    margin-top: 50px;
  }

  .btn {
    float: left;
    background: #ff6b00;
    color: #fff;
    width: 120px;
    height: 48px;
    align-items: center;
    text-align: center;
    padding: 12px;
    margin: 30px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    cursor: pointer;
    transition-duration: 00.4s;
  }

  .project-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .firstproject {
    background-image: url(media/project.png);
    opacity: 1;
  }

  .secondproject,
  .fifthproject {
    background-image: url(media/layout2nd.png);
    opacity: 1;
  }

  .thirdproject,
  .sixthproject {
    background-image: url(media/layout3rd.png);
    opacity: 1;
  }

  .forthproject {
    background-image: url(media/Layout.png);
    opacity: 1;
  }

  .contact-form form ul {
    width: 90%;
  }

  .firstproject:first-child ul,
  .firstproject:first-child h3,
  .firstproject:first-child p {
    visibility: hidden;
  }

  .display .btn-dis {
    display: none;
  }

  .display:first-child .btn-dis {
    display: block;
  }

  /* -------------About Me---------------------- */

  .about-me {
    background-image: url(media/illustration-about\ me@2x.png);
    background-position: 100% 15%;
    background-size: 35%;
    border: hidden;
  }

  .about-me-heading,
  .about-me-content,
  .btn-about-me {
    display: flex;
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
  }

  .about-me-heading {
    font-size: 72px;
    line-height: 81px;
  }

  .about-me-content {
    font-size: 20px;
    line-height: 32px;
  }

  /* ---------------Programming Language------------ */

  .prg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    margin-bottom: 120px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  /* .prg-div1,
  .prg-div2,
  .prg-div3 {
    list-style-image:;
  } */

  /* ----------Contact Form--------------- */

  .contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .contact-form h2 {
    width: 30%;
    margin-right: 2%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: justify;
  }

  .contact-form form {
    width: 55%;
    align-items: flex-start;
    border-bottom: none;
  }

  .contact-form .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 100px;
    border-top: 1px solid #343536;
  }

  .contact-form form button {
    margin-left: 15px;
  }

  .contact-form .end-line {
    display: none;
  }
}
